@(title: String)

<!DOCTYPE html>
<html>
	<head>
	   	<meta charset="utf-8">
	   	<meta name="description" content="Find Your Band"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <!-- Bootstrap -->
	    <link rel="stylesheet" media="screen" href=@routes.Assets.at("stylesheets/bootstrap.css")>
	    <!-- Responsive Design -->
		<link rel="stylesheet" href=@routes.Assets.at("stylesheets/bootstrap-responsive.css")>
		<!-- Scrips -->
		<script src=@routes.Assets.at("javascripts/jquery.css") async></script>
		<script type="text/javascript" src=@routes.Assets.at("javascripts/bootstrap.js") async></script>
		<title>@title</title>
  	</head>
  	<body>
  		<div class="navbar navbar-inverse">
	  		<div class="navbar-inner">
	  			<div class="container-fluid"> 
		  			<!-- cria um botão que indica o menu -->
		  			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		  				<span class="icon-bar"></span>
		  				<span class="icon-bar"></span>
		  				<span class="icon-bar"></span>
		  			</a>
		  			<a class="brand" href="index.html">Home</a>
				</div>
	  		</div>
  		</div>
  		<div class="well well-small">
  			<dvi class="page-header">
  				<h2>Sign Up<small><b> Or edit an existing user</b></small></h2>
  			</dvi>
  		</div>
	 	<form class="form-horizontal" method="post" action="/cadastro">
		<fieldset>	
			<div>
				<h4>Account Informations</h4>
			</div>
			<!-- Text input-->
			<div class="control-group">
			  <label class="control-label">Username</label>
			  <div class="controls">
			    <input type="text" class="input-large" required>
			    <p class="muted">Please choose a valid username.</p>
			  </div>
			</div>
			<!-- Text input-->
			<div class="control-group">
			  <label class="control-label">Email</label>
			  <div class="controls">
			    <input type="text" class="input-large" required>
			    <p class="help-block">Enter a valid email address.</p>
			  </div>
			</div>
	
			<!-- Text input-->
			<div class="control-group">
			  <label class="control-label">Password</label>
			  <div class="controls">
			    <input type="text" class="input-large" required>
			    <p class="help-block">A password must be at least 8 characters.</p>
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="control-group">
			  <label class="control-label">Repeat password</label>
			  <div class="controls">
			    <input type="text" placeholder="" class="input-large" required>
			    <p class="help-block">Pease repeat your password again.</p>
			  </div>
			</div>
		</fieldset>
		</form>
	</body>
</html>